@media (min-width: 768px) {
  .book-img {
    height: 400px;
    width: 300px;
  }
  .review-container {
    min-height: 500px;
  }
}

@media (max-width: 576px) {
  .book-img {
    height: unset;
    width: 100%;
    margin-top: -50px;
  }
  .border-end {
    border-right: none !important;
  }
}